<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>browser.py</string>
			<key>preferredName</key>
			<string>Browser</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>LettError</string>
	<key>developerURL</key>
	<string>http://letterror.com</string>
	<key>html</key>
	<false/>
	<key>launchAtStartUp</key>
	<integer>0</integer>
	<key>mainScript</key>
	<string></string>
	<key>name</key>
	<string>GlyphBrowser</string>
	<key>timeStamp</key>
	<real>1456669102.416543</real>
	<key>version</key>
	<string>1.1</string>
	<key>com.robofontmechanic.Mechanic</key>
	<dict>
	  <key>repository</key>
	  <string>LettError/glyphBrowser</string>
	  <key>summary</key>
	  <string>A sketch for a panel to browse and select unicode categories, ranges and glyph lists.</string>
	</dict>
</dict>
</plist>
