<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>addToMenu</key>
	<array>
		<dict>
			<key>path</key>
			<string>browser.py</string>
			<key>preferredName</key>
			<string>GlyphBrowser</string>
			<key>shortKey</key>
			<string></string>
		</dict>
	</array>
	<key>developer</key>
	<string>LettError</string>
	<key>developerURL</key>
	<string>http://letterror.com/tools.html</string>
	<key>html</key>
	<true/>
	<key>launchAtStartUp</key>
	<false/>
	<key>name</key>
	<string>GlyphBrowser</string>
	<key>requiresVersionMajor</key>
	<string>3</string>
	<key>requiresVersionMinor</key>
	<string>2</string>
	<key>timeStamp</key>
	<real>1669051077.2607129</real>
	<key>version</key>
	<string>2.6.7</string>
</dict>
</plist>
